# Configuration du robot Hermes Agent
# REMPLISSEZ CES VALEURS AVANT DE LANCER LES SERVICES
# déplacer le fichier .env dans le dossier docker-service pour éviter que les clés sensibles soient exposées dans le code source

MINIMAX_API_KEY=sk-*****
TELEGRAM_BOT_TOKEN=******
TELEGRAM_ALLOWED_USERS=******